__pycache__
*.pyc
*.py[cod]
*$py.class
.pytest_cache
.png
.jpg
.Python
.pyc
.json
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
.ipynb_checkpoints
.env
.venv
env/
venv/
.code
.idea
.DS_Store